/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image:url('imgs/Wood.jpeg');
/*   background-color: #252e36; */
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
  color: #ffedfe;
}

button {
  padding: 10px;
  border-radius: 10px;
  
}

input [type=number] {
  
}

#gameButtonArea > button {
  width:100px;
  height:500px;
  margin:px;
}

.hidden{
  display: none;
}

#button1 {
    background-image:url('imgs/C1.jpg');
    background-size:cover;
}

#button2 {
    background-image:url('imgs/D1.jpg');
    background-size:cover;
}

#button3 {
    background-image:url('imgs/E1.jpg');
    background-size:cover;
}

#button4 {
    background-image:url('imgs/F1.jpg');
    background-size:cover;
}

#button5 {
    background-image:url('imgs/G1.jpg');
    background-size:cover;
}

#button6 {
    background-image:url('imgs/A1.jpg');
    background-size:cover;
}

#button7 {
    background-image:url('imgs/B1.jpg');
    background-size:cover;
}

#button8 {
    background-image:url('imgs/C2.jpg');
    background-size:cover;
}

#button1:active, #button1.lit {
  background-image:url('imgs/C1Shade.jpg');
  background-size:cover;
}

#button2:active, #button2.lit {
  background-image:url('imgs/D1Shade.jpg');
  background-size:cover;
}

#button3:active, #button3.lit {
  background-image:url('imgs/E1Shade.jpg');
  background-size:cover;
}

#button4:active, #button4.lit {
  background-image:url('imgs/F1Shade.jpg');
  background-size:cover;
}

#button5:active, #button5.lit {
  background-image:url('imgs/G1Shade.jpg');
  background-size:cover;
}

#button6:active, #button6.lit {
  background-image:url('imgs/A1Shade.jpg');
  background-size:cover;
}

#button7:active, #button7.lit {
  background-image:url('imgs/B1Shade.jpg');
  background-size:cover;
}

#button8:active, #button8.lit {
  background-image:url('imgs/C2Shade.jpg');
  background-size:cover;
}

