/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image:url('imgs/Wood.jpeg');
/*   background-color: #252e36; */
  color:rgb(236, 160, 73);
}

h1 {
  font-family: verdana, arial, sans-serif;
  color:burlywood;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color:burlywood;
}

#gameButtonArea > button {
  width:100px;
  height:500px;
  margin:px;
}

.hidden{
  display: none;
}

#button1 {
    background-image:url('imgs/C1.jpg');
    background-size:cover;
}

#button2 {
    background-image:url('imgs/D1.jpg');
    background-size:cover;
}

#button3 {
    background-image:url('imgs/E1.jpg');
    background-size:cover;
}

#button4 {
    background-image:url('imgs/F1.jpg');
    background-size:cover;
}

#button5 {
    background-image:url('imgs/G1.jpg');
    background-size:cover;
}

#button6 {
    background-image:url('imgs/A1.jpg');
    background-size:cover;
}

#button7 {
    background-image:url('imgs/B1.jpg');
    background-size:cover;
}

#button8 {
    background-image:url('imgs/C2.jpg');
    background-size:cover;
}

#button1:active, #button1.lit {
  background-image:url('imgs/C1Shade.jpg');
  background-size:cover;
}

#button2:active, #button2.lit {
  background-image:url('imgs/D1Shade.jpg');
  background-size:cover;
}

#button3:active, #button3.lit {
  background-image:url('imgs/E1Shade.jpg');
  background-size:cover;
}

#button4:active, #button4.lit {
  background-image:url('imgs/F1Shade.jpg');
  background-size:cover;
}

#button5:active, #button5.lit {
  background-image:url('imgs/G1Shade.jpg');
  background-size:cover;
}

#button6:active, #button6.lit {
  background-image:url('imgs/A1Shade.jpg');
  background-size:cover;
}

#button7:active, #button7.lit {
  background-image:url('imgs/B1Shade.jpg');
  background-size:cover;
}

#button8:active, #button8.lit {
  background-image:url('imgs/C2Shade.jpg');
  background-size:cover;
}

#Rules{
  position: relative;
  top: -628px;
  left: 450px;
  padding: 5px;
  border-radius: 1px;
  background-color:burlywood;
}

#Scoreboard{
  position: relative;
  top: -628px;
  left: 470px;
  padding: 5px;
  border-radius: 1px;
  background-color:burlywood;
}

#Register{
  position: relative;
  top: -628px;
  left: 490px;
  padding: 5px;
  border-radius: 1px;
  background-color:burlywood;
}

.popup {

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.popup-content {

  position: relative;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 75%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}